---
layout: default
---

<div class="navbar-high">
  <nav class="branded">
    <div class="nav-wrapper">
      <div class="container">
        <span class="navbar-title">Ihre Ziele im Überblick</span>
      </div>
      <span class="brand-logo spaced right">
        <img src="{{ '/img/brand-logo.png' | relative_url }}" alt="" />
      </span>
    </div>
  </nav>
</div>

<span>&nbsp;</span>

<div class="container">
  <div class="row">
    <div class="col s12 m8">

      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-image small">
            <img src="{{ '/img/haus-1.jpg' | relative_url }}" alt="" />
          </div>

          <div class="center-align">
            <div class="circle white card-icon">
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-home fa-stack-1x fa-inverse"></i>
              </span>
            </div>
          </div>

          <div class="card-content">
            <span class="card-title">Das Haus am See</span>

            <p class="paragraph">
              <strong>Geplant:</strong> Dezember 2038 <br>
              <strong>Gesamtkosten:</strong> 1.200.000 € <br>
            </p>
          </div>
        </div>

        <div class="card-stacked" style="border-left: 1px solid #ddd">
          <div class="card-content">
            <span class="card-title">Ihr Investment</span>
            <p><i>gestartet am {{ site.time | date: '%d.%m.%Y' }}</i></p>

            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt eos esse excepturi.
            </p>

            <p class="paragraph">
              <strong>Schwankung:</strong> max DD EUR 1.500 <br>
              <strong>Rendite p.a.:</strong> 7,8 % <br>
            </p>
          </div>

          <div class="card-action">
            <a class="block green-text" href="{{ '/adapt' | relative_url }}">
              <i class="material-icons green circle bottom">check_circle</i>
              &nbsp; Ziel ist erreichbar
            </a>
          </div>
        </div>
      </div>

      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-image small">
            <img src="{{ '/img/target-2.jpg' | relative_url }}" alt="" />
          </div>

          <div class="center-align">
            <div class="circle white card-icon">
                  <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                  </span>
            </div>
          </div>

          <div class="card-content">
            <span class="card-title">USA mit Familie</span>

            <p class="paragraph">
              <strong>Geplant:</strong> Juli 2020 <br>
              <strong>Gesamtkosten:</strong> 18.000 € <br>
            </p>
          </div>
        </div>

        <div class="card-stacked" style="border-left: 1px solid #ddd">
          <div class="card-content">
            <span class="card-title">Ihr Investment</span>
            <p><i>gestartet am 27.5.2017</i></p>

            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt eos esse excepturi.
            </p>

            <p class="paragraph">
              <strong>Schwankung:</strong> max DD EUR 500 <br>
              <strong>Rendite / Jahr:</strong> 2,4 % <br>
            </p>
          </div>

          <div class="card-action">
            <a class="block red-text" href="{{ '/adapt' | relative_url }}">
              <i class="material-icons red circle bottom">check_circle</i>
              &nbsp; Investment gefährdet
            </a>
          </div>
        </div>
      </div>

      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-image small">
            <img src="{{ '/img/target-3.jpg' | relative_url }}" alt="" />
          </div>

          <div class="center-align">
            <div class="circle white card-icon">
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-car fa-stack-1x fa-inverse"></i>
              </span>
            </div>
          </div>

          <div class="card-content">
            <span class="card-title">Neues Auto</span>

            <p class="paragraph">
              <strong>Geplant:</strong> Januar 2020 <br>
              <strong>Gesamtkosten:</strong> 35.000 € <br>
            </p>
          </div>
        </div>

        <div class="card-stacked" style="border-left: 1px solid #ddd">
          <div class="card-content">
            <span class="card-title">Ihr Investment</span>
            <p><i>gestartet am 1.1.2018</i></p>

            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt eos esse excepturi.
            </p>

            <p class="paragraph">
              <strong>Schwankung:</strong> max DD EUR 2.700 <br>
              <strong>Rendite / Jahr:</strong> 4,9 % <br>
            </p>
          </div>

          <div class="card-action">
            <a class="block orange-text" href="{{ '/adapt' | relative_url }}">
              <i class="material-icons orange circle bottom">check_circle</i>
              &nbsp; Verbesserung möglich
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="col s12 m4">

      <div class="card">
        <div class="card-content">
          <div class="valign-wrapper">
            <img class="valign circle profile-image" src="{{ '/img/profile-1.jpg' | relative_url }}" />
            <div class="valign">
              <span class="card-title">Max Mustermann</span>
              <p class="grey-text">K.Nr. 63056238/0</p>
            </div>
          </div>

          <p class="paragraph lead">
            <strong>Investment-Status</strong><br>
            <span class="orange-text">2 Verbesserungen möglich</span>
          </p>

          <hr>

          <ul>
            {% for figure in site.data.groups[0] %}
            <li class="clear">
              <i class="fa fa-{{ figure.icon }} fa-fw"></i>
              {{ figure.title }}: <strong class="right">{{ figure.value }}</strong>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="valign-wrapper">
            <img class="valign circle profile-image" src="{{ '/img/profile-3.jpg' | relative_url }}" />
            <div class="valign">
              <span class="card-title">Ihr Berater</span>
              <p class="grey-text">Mag. Herbert Maier</p>
            </div>
          </div>

          <dl>
            <dt>Filiale</dt>
            <dd>Stephansplatz 21, 1010 Wien</dd>
            <dt>Letzter Termin</dt>
            <dd>9. Januar 2017</dd>
          </dl>

          <a href="#" class="waves-effect btn branded waves-block">Termin buchen</a>

        </div>
      </div>

      <ul class="collection z-depth-1">
        <li class="collection-item">
          <h5>
            <i class="right waves-effect material-icons">info_outline</i>
            Unsere Vorschläge
          </h5>
        </li>

        {% for impulse in site.data.impulses %}
          <li class="impulse collection-item avatar waves-effect waves-block" onclick="location.href = '{{ '/adapt' | relative_url }}'">
            <div class="valign-wrapper">
              <i class="material-icons circle large {{ impulse.color }}">{{ impulse.icon }}</i>
              <div class="fill">
                <p>{{ impulse.title }}</p>
              </div>
              <i class="material-icons">chevron_right</i>
            </div>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
