.stepper li a {
  padding: 24px;
  font-size: 14px;

  .circle {
    display: inline-block;
    color: #ffffff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.38);
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
  }

  .label {
    display: inline-block;
    color: rgba(0, 0, 0, 0.38);
  }
}

.stepper-horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;

  li {
    display: -webkit-flex;
    display: -ms-flexbox;
  }
}

.stepper-vertical {
  display: -webkit-flex;
  display: -ms-flexbox;

  li {
    display: -webkit-flex;
    display: -ms-flexbox;

    a {
      display: -webkit-flex;
      display: -ms-flexbox;
    }
  }
}

.stepper li {
  a .circle {
    text-align: center;
  }

  &.active a,
  &.completed a {
    .label {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.87);
    }

    .circle {
      background-color: #4285f4 !important
    }
  }

  &.warning a .circle {
    background-color: #ff4444 !important;
  }
}

.stepper-horizontal {
  position: relative;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  li {
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    a .label {
      margin-top: 10px;
    }

    &:not(:first-child):before,
    &:not(:last-child):after {
      content: '';
      position: relative;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover {
      background: #dddddd;
    }
  }
}
