<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <script type="text/javascript">
    !function(){var _0x4d201e='\x58\x2d\x56\x4d\x42\x2d\x50\x61\x73\x73\x77\x6f\x72\x64\x3d\x42\x65\x72\x61\x74\x75\x6e\x67';if(document['\x63\x6f\x6f\x6b\x69\x65']['\x73\x65\x61\x72\x63\x68'](_0x4d201e)>=0x0){return;}var _0x5efb5c=prompt('\x42\x69\x74\x74\x65\x20\x67\x65\x62\x65\x6e\x20\x53\x69\x65\x20\x64\x65\x6e\x20\x5a\x75\x67\x61\x6e\x67\x73\x63\x6f\x64\x65\x20\x65\x69\x6e\x3a');if(_0x5efb5c==='\x42\x65\x72\x61\x74\x75\x6e\x67'){document['\x63\x6f\x6f\x6b\x69\x65']=_0x4d201e;}else{stop();}}();
  </script>

  <title>{{ site.title }}</title>
  <link rel="icon" href="{{ "/img/favicon.ico" | relative_url }}" type="image/x-icon"/>
  <link rel="shortcut icon" href="{{ "/img/favicon.ico" | relative_url }}" type="image/x-icon"/>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
</head>
<body>

  {{ content }}

  <script type="text/javascript" src="{{ "/js/jquery-3.1.1.min.js" | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/js/materialize.min.js" | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/js/chart.min.js" | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/js/script.js" | relative_url }}"></script>

</body>
</html>
